@media only screen and(max-width:1080px) {
	.container { width: 992px; }
}
@media only screen and (max-width:992px) {
	.container { width: 768px; }
}

/*@media only screen and (max-width:768px){
	.container {
	    width: 414px;
	}
}*/
@media only screen and (max-width:767px) {
	.container { width: 100%; }
}

/*GENERAL*/
* { -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; }
body { padding-top: 70px; }
.fluid { margin-left: -15px; margin-right: -15px; }
.fluid .row { margin: 0; }
.fluid .row div { padding: 0; }

p { font-family: MullerUltraLight; color: black; font-size: 18px; }
section { /*margin-bottom: 90px;*/ position: relative; }

/* BOOTSTRAP */

main .container { background: white; }
main {    margin-bottom: -100px;}
#instagram .container {margin-bottom: 0;padding-bottom: 0;}
/* NAV */
nav .container { margin-bottom: 0 !important; padding: 0 50px; box-shadow: none; }
nav .mainNavDropDown .social>a { display: inline-block; margin-left: 20px; margin-top: 7px; margin-bottom: 7px; }
nav .phone { display: inline-block; font-family: MullerRegular; font-size: 14px; margin-right: 15px; line-height: 70px; vertical-align: middle; }
nav .social>a { display: inline-block; margin-left: 20px; margin-top: 27px; margin-bottom: 27px; }
.menu>.social>a { display: inline-block; margin: 0 0 0 20px; }
.menu>.social{line-height: 40px;}
nav i { display: block; display: inline-block; }
nav { background-color: white; line-height: 0; padding: 0 50px }
nav.whiteNav { background: white; animation: whiteNav 1s; -moz-animation: whiteNav 1s; -webkit-animation: whiteNav 1s; -o-animation: whiteNav 1s; }
nav.greenNav {color: white; background: #509A44; animation: greenNav 1s; -moz-animation: greenNav 1s; -webkit-animation: greenNav 1s; -o-animation: greenNav 1s; }
nav.greenNav .mobile-logo { background-image: url(../img/m-logo-white.svg); height: 44px; width: 80px; background-repeat: no-repeat; text-align: center; margin-top: 12px; }
nav.whiteNav .mobile-logo { background-image: url(../img/m-logo-black.svg); height: 44px; width: 80px; background-repeat: no-repeat; text-align: center; margin-top: 12px; }
nav .vk { background-image: url(../img/vk.svg); height: 12px; width: 21px; display: block; background-repeat: no-repeat; }
nav .fb { background-image: url(../img/fb.svg); height: 18px; width: 9px; display: block; background-repeat: no-repeat; }
nav .inst { background-image: url(../img/inst.svg); height: 19px; width: 20px; display: block; background-repeat: no-repeat; }
nav.greenNav .vk { background-image: url(../img/vk-white.svg); height: 12px; width: 21px; display: block; background-repeat: no-repeat; }
nav.greenNav .fb { background-image: url(../img/fb-white.svg); height: 18px; width: 9px; display: block; background-repeat: no-repeat; }
nav.greenNav .inst { background-image: url(../img/inst-white.svg); height: 19px; width: 20px; display: block; background-repeat: no-repeat; }

.mobile-logo-container { text-align: center; }
@keyframes greenNav {
	from { background: white; }
	to { background: #509A44; }
}
@-moz-keyframes greenNav {
	from { background: white; }
	to { background: #509A44; }
}
@-webkit-keyframes greenNav {
	from { background: white; }
	to { background: #509A44; }
}
@-o-keyframes greenNav {
	from { background: white; }
	to { background: #509A44; }
}
@-webkit-keyframes greenNav {
	0% { background: white; }
	100% { background: #509A44; }
}
@keyframes whiteNav {
	from { background: #509A44; }
	to { background: white; }
}
@-moz-keyframes whiteNav {
	from { background: #509A44; }
	to { background: white; }
}
@-webkit-keyframes whiteNav {
	from { background: #509A44; }
	to { background: white; }
}
@-o-keyframes whiteNav {
	from { background: #509A44; }
	to { background: white; }
}
@-webkit-keyframes whiteNav {
	0% { background: #509A44; }
	100% { background: white; }
}
nav.dark i { color: #509A44; }

.logo-frame { width: 260px; background-color: white; border-radius: 130px; position: absolute; top: -114px; padding: 121px 0 0 8px; box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.50); z-index: 101; text-align: center; margin: 0 auto; left: 0; right: 0; }
.main-logo { background-image: url(../img/main-logo.svg); height: 106px; width: 151px; background-repeat: no-repeat; }
.show-logo {top: -114px; animation: show-logo 1s;}
.hide-logo {top: -260px; animation: hide-logo 1s;}

@-webkit-keyframes show-logo {
	from { top: -260px; }
	to { top: -114px; }
}
@-webkit-keyframes hide-logo {
	from { top: -114px; }
	to { top: -260px; }
}
/* DROPDOWN */
.menu { padding-left: 0; margin: 0; list-style: none; text-align: right; display: none; right: -10px; top: 70px; position: absolute; background-color: white; z-index: 100; padding:10px 26px;
box-shadow: 0px 15px 28px 0px rgba(0,0,0,0.11);}
.menu li { font-family: MullerLight; white-space: nowrap; margin:15px 0; color: black; cursor: pointer; font-family: MullerRegular; font-size: 12px; font-size: 20px; line-height: 25px; right: 0; text-transform: uppercase; }
.menu li a { color: black; cursor: pointer; text-decoration: none; }
.menu li a:hover { font-family: MullerMedium; cursor: pointer; }

/* HEADER */
header { background-image: url(../img/flowers.jpg); background-repeat: no-repeat; letter-spacing: 3px; line-height: 50px; }
.florist-container { padding-left:50px; padding-right: 50px;}
.florist img { width: 100%; }

/* FOOTER */
footer a, footer a:hover { text-decoration: none; cursor: pointer !important; }
footer i { margin-top: 33px; margin-left: 30px; height: 35px; width: 35px; display: inline-block; cursor: pointer;background-repeat: no-repeat;}
footer .fb { background-image: url(../img/fb-black.svg); }
footer .vk { background-image: url(../img/vk-black.svg); }
footer .inst { background-image: url(../img/inst-black.svg); }
footer span { display: block; color: black; }
.icon-footer-logo { font-size: 80px; text-align: center; margin-top: 10px; margin-bottom: 10px; }

#discount p{color: #F15D29; margin-bottom: 20px !important;display: block;}
/* SLIDER */
.carousel { background: #EEE; }
.carousel-cell { width: 100%; margin-right: 10px; background: #8C8; counter-increment: gallery-cell; background: white;}
.carousel { background-color: white; }
.carousel .flickity-viewport { height: 300px; }
.carousel .flickity-page-dots .dot { height: 20px; width: 20px; background: white; border: 4px solid #F15D29; }
.carousel .flickity-page-dots { bottom: -80px; }
.carousel button { display: none; }
.carousel img { width: 75%; margin: 0 auto; display: block; }


@media only screen and (min-width:300px) {
	h1, h2, h3, h4, h5 { text-transform: uppercase; font-family: MullerBold; }
	h1 { color: white; font-size: 60px; font-family: MullerBold; color: #FFFFFF; letter-spacing: 4.06px; text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.50); }
	h2 { color: white; font-size: 30px;line-height: 30px;}
	h3 { font-family: MullerMedium; color: #F15D29; font-size: 30px; margin-bottom: 40px; letter-spacing: 3px; text-align: center;}
	h4 { color: #F15D29; font-size: 35px; letter-spacing: 2px; }
	h5 { font-family: MullerMedium; color: black; font-size: 18px; letter-spacing: 1px; }
	.container {position: relative; padding-bottom: 10px; }
	.container-fluid .container {margin-bottom: 0;padding-bottom: 0px;}
	.container-fluid {margin-bottom: 10px; position: relative;}

	
	header { background-size: 100%; height: 212px; margin-bottom: 20px;padding-top: 5%; letter-spacing: 2px; }
	nav, nav .container { padding: 0 15px; text-align: left; line-height: 70px; vertical-align: middle; }

	/*.container {padding: 0 0 100px 0;}*/
	#bart img, #buket img, #rastenia img, #decor img, #delivery img { width: 100%; margin-bottom: 20px; }
	#bart p, #buket p, #rastenia p, #decor p, #delivery p { margin: 0 20px; margin-bottom: 20px; }

	/* FLORISTU */
	
	/*#floristu {padding: 0 50px;}*/
	#floristu h3 { margin-bottom: 60px; }
	#floristu h5 { text-align: center; margin-top: 20px; }
	#floristu .florist { margin-bottom: 50px; }

	/* INSTAGRAM */
	#instagram h3 { margin-bottom: 60px; }
	#instagram .row:nth-child(2) { margin: 0 }
	.instagram div { padding: 0; }
	.instagram {padding: 0; line-height: 0; }
	.instagram a { display: block; width: 100%; height: 100%; overflow: hidden; }
	.instagram img { width: 100%; }
	.instagram img:hover { transform: scale(1.1); }
	.instagram div:nth-child(1n+10) { display: none; }
	
	#cennosti h3 {margin-bottom: 0px;}
	#cennosti .carousel {text-align: center}
	#cennosti .carousel .carousel-cell{    left: 0%;
    top: 20px;
    padding: 35px;
    margin-bottom: 20px;}
	#cennosti .carousel .flickity-page-dots {bottom: 0px;}
	/**/
	#cennosti, #infografica { padding-top: 0; }
	#infografica { margin-bottom: 90px }

	#contacts p { font-family: MullerLight; font-size: 16px; }
	#contacts { padding: 0 50px;}
	#contacts h3 { margin-bottom: 50px; }
	#contacts h5 { margin-bottom: 7px; font-family: MullerMedium; font-size: 18px; }
	#contacts h4 { font-family: MullerMedium; font-size: 14px; }
	#contacts .address { margin-bottom: 30px; }
	#contacts .time { margin-bottom: 30px; }
	#contacts .phone { margin-bottom: 10px; }
	#contacts .address hr { width: 90px; border-color: black; border-width: 0.5px 0; margin: 0 0 15px 0; }
	#contacts .time hr { width: 180px; border-color: black; border-width: 0.5px 0; margin: 0 0 15px 0; }
	#contacts .phone hr { width: 130px; border-color: black; border-width: 0.5px 0; margin: 0 0 15px 0; }
	footer { position: absolute; left: 0; width: 100%; background: rgba(255, 255, 255, 0.59); text-align: center; padding-left: 35px; }
}

@media only screen and (min-width:420px) {
	h3 {font-size: 40px;}
	h2 { font-size: 40px; line-height: 50px;}
	header {height: 324px;padding-top: 15%;}
	.container, .container-fluid {margin-bottom: 90px;}
	.container-fluid .container {padding-bottom: 0px;}
	
}

@media only screen and (min-width:767px) {
	.container-fluid:last-child{margin-bottom: 0;}
		#bart img, #buket img, #rastenia img, #decor img, #delivery img { width: 100%; margin-bottom: 0px; }
	#cennosti h3 {margin-bottom: 60px;}
	nav .container { padding: 0 50px }
	h3 { text-align: left; }
	p { text-align: left; margin: 0 !important; }
	
	/*.container {padding: 0 15px 90px 15px}*/
	header { height: 511px; background-size: 100%; padding-top: 25%;}
	#decor img { margin-bottom: 0; }
	#bart h3 { margin-top: 0px; }
	#buket h3 { margin-top: 40px; }
	#rastenia h3 { margin-top: 95px; }
	#decor h3 { margin-top: 55px; }
	#delivery h3 { margin-top: 60px; }
	#floristu h3 { margin-bottom: 60px; }
	h2 { font-size: 56px; line-height: 60px; }
	.right-part { overflow: hidden; }
	#cennosti, #infografica { padding: 90px 0; }
	/*	INSTAGRAM */
	.instagram div:nth-child(n) { display: block; }
	.florist h5 { font-family: MullerRegular; font-size: 17px; text-transform: none; margin-top: 15px; margin-bottom: 10px; }
	.florist p { margin: 0; font-family: MullerRegular; font-size: 13px; text-align: center; }
	#decor img, #buket img { width: 100%; }
	#contacts { height: 751px; padding-top: 0; background-position-y: 77px; background-image: url(../img/contacts-bg.jpg); background-size: 100%; background-repeat: no-repeat;  margin-left: -15px; margin-right: -15px; text-align: center;}
	#contacts h3, #contacts p { text-align: center; }
	#contacts hr:first-child { margin-left: 67px; }
	.contacts-container { width: 400px; margin: 0 auto; background-color: white; box-shadow: 0px 8px 58px 0px rgba(0, 0, 0, 0.13); padding: 10px; }
	.contacts-body { padding: 40px 70px; border: 1px solid rgba(0, 0, 0, 0.14); }
	.contacts-body h4 { margin-bottom: 6px; margin-top: 0; }
	.contacts-body p { font-size: 15px; line-height: 19px; color: rgb(68, 68, 68); }
	.contacts-body hr { margin-top: 0px; margin-bottom: 10px; border-color: black; }
	.contacts-body .address, .contacts-body .time { margin-bottom: 30px !important; }
	#contacts .address hr { width: 90px; border-color: black; border-width: 0.5px 0; margin: 0 0 15px 75px; }
	#contacts .time hr { width: 180px; border-color: black; border-width: 0.5px 0; margin: 0 0 15px 27px; }
	#contacts .phone hr { width: 130px; border-color: black; border-width: 0.5px 0; margin: 0 0 15px 53px; }
	footer { position: absolute; left: 0; width: 100%; background: rgba(255, 255, 255, 0.59); padding: 0; }
}

@media only screen and (min-width:992px) {
	#delivery h3 { margin-top: 60px; }
	#bart h3 { margin-top: 50px; }
	#buket h3 { margin-top: 110px; }
	#decor h3 { margin-top: 80px; }
	header { height: 661px; padding-top: 27%; }
	h2 { font-size: 56px; line-height: 70px; }

	/*.container { width: 992px;}*/

	/* CONTACRTS */
	#contacts { height: 971px; padding-top: 200px; background-position-y: 0px; }
}

@media only screen and (min-width:1080px) {
	header { height: 939px; }
	#decor h3 { margin-top: 120px; }
	#delivery h3 { margin-top: 100px; }
	#bart h3 { margin-top: 90px; }

	/*.container {width: 1080px;}*/
	#contacts { height: 1020px; padding-top: 240px; }
}

/*@media only screen and (min-width: 1200px){
.container {
   width: 1080px;
}
}*/